<div class="row">
  <div class="col-xl-3">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-xl-9">
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Vos départements</h2>
          <p>Choisissez un département pour gérer leurs dépenses</p>
        </div>
        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="/dep">Production</a></h4>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
              <h3 class="rate-percentage">32.53%</h3>
              <p class="text-danger d-flex"><i class="bx bx-down-arrow-alt"></i><span>-0.5%</span></p>
            </div>
            
          </div>
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="/dep">Finance</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
              <h3 class="rate-percentage">7,682</h3>
              <p class="text-success d-flex"><i class="bx bx-up-arrow-alt"></i><span>+0.1%</span></p>
            </div>
            
          </div>
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="/dep">Ressource humaine</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
              <h3 class="rate-percentage">68.8</h3>
              <p class="text-danger d-flex"><i class="bx bx-down-arrow-alt"></i><span>68.8</span></p>
            </div>
            
          </div>
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="/dep">Vente en ligne</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
              <h3 class="rate-percentage">2m:35s</h3>
              <p class="text-success d-flex"><i class="bx bx-up-arrow-alt"></i><span>+0.8%</span></p>
            </div>
            
            
          </div>
        </div>
      </div>
    </section>
  </div>
</div>


