<app-navbar></app-navbar>

<br>
<br>
<main>
    <div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h3>Déconnecter!</h3>
        <h2>Cliquer pour se déconnecter !</h2>
        <a class="btn" (click)= "logout()" >Déconnexion</a>
        <img src="assets/images/notfound.svg" class="img-fluid py-5" alt="Page Not Found">
       
      </section>
         
    </div>
  </main><!-- End #main -->

  <app-footer></app-footer>
